<!--<p id="notice"><%= notice %></p>-->

<h2> <%= @beer_club.name %> </h2>
<strong> <%= @beer_club.city %> <i>(<%= @beer_club.founded%>)</i></strong>

<br>

<h3> Members:</h3>
<% @beer_club.users.each do |u| %>
    <%= link_to u.username, u %>
<% end %>

<% if current_user and not @beer_club.users.include?(current_user) %>
    <%= form_for(@membership) do |f| %>
        <%= f.hidden_field :beer_club_id %>
        <%= f.submit value:"Join this club" %>
    <% end %>
<% end %>

<br>
<br>
<%= edit_and_destroy_buttons(@beer_club) %>