<!--<p id="notice"><%= notice %></p>-->

<h2><%= @user.username %></h2>
<p> Has made <%= pluralize(@user.ratings.count, 'rating', plural='ratings') %>. </p>
<p> Average rating: <%= @user.average_rating %> </p>

<h3>Clubs:</h3>
<ul>
<% @user.memberships.each do |m| %>
    <li> <%= m.beer_club.to_s %>
    <% if current_user == @user %>
      <%= link_to 'leave', m, method: :delete, data: { confirm: "Really leave "+m.beer_club.name+"?" } %>
    <% end %>
    </li>
<% end %>
</ul>

<br>

<% unless @user.ratings.empty? %>

    <h3>Favourite style: <%= link_to @user.favourite_style.name, @user.favourite_style %> </h3>
    <h3>Favourite brewery: <%= link_to @user.favourite_brewery.name, @user.favourite_brewery %> </h3>

    <h3>Ratings:</h3>
    <ul>
    <% @user.ratings.each do |r| %>
        <li><%= r.to_s %>
            <% if current_user == @user %>
                <%= link_to 'delete', r, method: :delete, data: { confirm: "Delete "+r.to_s+"?" } %>
            <% end %>
        </li>
    <% end %>
    </ul>
<% else %>
    <h3> <%= @user.username %> hasn't given any ratings yet. </h3>
<% end %>

<%= link_to 'Back', users_path %>

<% if current_user == @user %>
<h4>Admin: </h4>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Delete your user account?' } %>
<% end %>