<!--<p id="notice"><%= notice %></p>-->

<h2><%= @user.username %></h2>
<p> Has made <%= pluralize(@user.ratings.count, 'rating', plural='ratings') %>. </p>
<p> Average rating: <%= @user.average_rating %> </p>

<h3>Clubs:</h3>
<h4>Member of:</h4>

<%= member_of_club(true) %>

<h4>Applied to:</h4>

<%= member_of_club(false) %>

<br>

<% unless @user.ratings.empty? %>

    <h3>Favourite style: <%= link_to @user.favourite_style.name, @user.favourite_style %> </h3>
    <h3>Favourite brewery: <%= link_to @user.favourite_brewery.name, @user.favourite_brewery %> </h3>

    <h3>Ratings:</h3>
    <ul>
    <% @user.ratings.each do |r| %>
        <li><%= r.to_s %>
            <% if current_user == @user %>
                <%= link_to 'delete', r, method: :delete, data: { confirm: "Delete "+r.to_s+"?" } %>
            <% end %>
        </li>
    <% end %>
    </ul>
<% else %>
    <h3> <%= @user.username %> hasn't given any ratings yet. </h3>
<% end %>

<%= link_to 'Back', users_path %>

<br>
<br>
<% if current_user == @user %>
    <%= edit_and_destroy_buttons(@user) %>
<% end %>