<h1>Listing breweries</h1>

<!--<p id="notice"><%= notice %></p>-->

<h2>Active breweries: </h2>
<p> Number of active breweries: <%= @active_breweries.count %> </p>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= link_to 'Name', breweries_path(order:"name") %></th>
      <th><%= link_to 'Year', breweries_path(order:"year") %></th>
    </tr>
  </thead>

  <tbody>
    <% @active_breweries.each do |brewery| %>
      <tr>
        <td><%= link_to brewery.name, brewery %></td>
        <td><%= brewery.year %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>Inactive breweries: </h2>
<p> Number of inactive breweries: <%= @inactive_breweries.count %> </p>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= link_to 'Name', breweries_path(order:"name") %></th>
      <th><%= link_to 'Year', breweries_path(order:"year") %></th>
    </tr>
  </thead>

  <tbody>
    <% @inactive_breweries.each do |brewery| %>
      <tr>
        <td><%= link_to brewery.name, brewery %></td>
        <td><%= brewery.year %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<!--<p><%= link_to 'Go to beers', beers_path %> </p>-->

<%= link_to 'New Brewery', new_brewery_path, class:'btn btn-primary' if current_user %>
