<h1>Listing breweries</h1>

<!--<p id="notice"><%= notice %></p>-->

<table class="table table-striped">
  <thead>
    <tr>
    </tr>
  </thead>

  <tbody>
    <% @breweries.each do |brewery| %>
      <tr>
        <td><%= link_to brewery.name, brewery %></td>
        <td><%= brewery.year %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p> Number of breweries: <%= @breweries.count %> </p>

<!--<p><%= link_to 'Go to beers', beers_path %> </p>-->

<%= link_to 'New Brewery', new_brewery_path, class:'btn btn-primary' if current_user %>
