<!--<p id="notice"><%= notice %></p>-->

<h2><%= @brewery.name %></h2>

<p>
  <i>Established in: <%= @brewery.year %></i>.
</p>
<p><%= @brewery.name %> is
    <% if @brewery.active? %>
        still in the game!
    <% else %>
        retired old man.
  <% end %>
</p>

<p>
  <% @brewery.beers.each do |beer| %>
    <%= link_to beer.name, beer %>
    <br>
  <% end %>
</p>

<p>Beers: <%= @brewery.beers.count %></p>

<% if @brewery.ratings.empty? %>
    <p> <%= @brewery.name %>'s beers have not been rated. </p>
<% else %>
    <p> <%= @brewery.name %> has <%= pluralize(@brewery.ratings.count, 'rating', plural='ratings') %>, average: <%= @brewery.average_rating %></p>
<% end %>
<br>

<%= edit_and_destroy_buttons(@brewery) %>